<div class="col-md-12" ng-controller="fileCtrl"> 
</br>

 
<fileup>
</fileup>


<div class="row">
	<div >
    
    <input type="file" id="uplFile" nv-file-select="" uploader="uploader" image="image" />
    <!--i have added an image control here which will read any existing image and it will be hide on new image uplaod-->
    <!--<img ng-src={{image}} />--> <!-- <strong>{{ uploader.queue[0].file.name }}</strong>
 -->
   <!--  <button type="button" class="btn btn-success btn-xs" ng-click="uploader.queue[0].upload()" ng-disabled="uploader.queue[0].isReady || uploader.queue[0].isUploading || uploader.queue[0].isSuccess"> <span class="glyphicon glyphicon-upload"></span> Upload</button>
    <button type="button" class="btn btn-danger btn-xs" ng-click="uploader.queue[0].remove()"> <span class="glyphicon glyphicon-trash"></span> Remove</button> -->
</div>

</div>


</div>

