<!-- <div class="panel panel-warning panel-heading">This is content Page
    <div>{{testMSG}} from local</div>

<div>{{msg}} from parent</div>
</div>

<form name="frmCreatePart">
    <div  class="form-group   col-md-4 ">
        <label class="one23-Labels" id="lblMinStock" for="txtMinStck"></label> <span data-ng-show="model.unitOfMeasure!= '' && model.unitOfMeasure != undefined"></span>
 <span class="errorMessage" id="errMinStckPattern" ng-show="frmCreatePart.minimumstocklevel.$error.intt">(Number range 0 to 99.99)</span>

        <input intt type="text" id="txtMinStck" min="0" class="form-control" ng-model="model.MinimumStockLevel" placeholder="Min. Stock Level" name="minimumstocklevel" pattern-value="4|4" />
    </div>
</form> -->

<div ng-controller="testCtrl" class="container" ng-init="expand=false">
     <div class="row">  
        <div class="col-md-12">   
            <div class="well well-sm">
            {{foo}}
                  	<select ng-change="ok(foo)" chosen multiple oninput="getdata" allow-single-deselect="true" data-placeholder="Choose Your Own Adventure"
						no-results-text="'Tough luck'" ng-model="foo" 
						ng-options="cl.clientName for cl in optionsFromQuery"
						style="width:200px;height:50px">
						<option value=""></option>
					</select>          
            </div>
        </div>              
    </div>

    <input type="text" typeahead-wait-ms='700' typeahead-min-length='3' ng-model="asyncSelected" placeholder="Locations loaded via $http" typeahead="address for address in getLocation($viewValue)" typeahead-loading="loadingLocations" class="form-control">
    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
</div>
